{%- set cidr = pod_cidr | default(pod_cidr) -%}
{%- set ip = cidr.split('/')[0].split('.') -%}
{%- set gateway = ip[0] ~ '.' ~ ip[1] ~ '.' ~ ip[2] ~ '.1' -%}
FLANNEL_NETWORK={{ cidr }}
FLANNEL_SUBNET={{ gateway }}/24
FLANNEL_MTU=1450
FLANNEL_IPMASQ=true
